{:name "hello-world"
 :tc-parent "Discussion"
 :git "git@github.com:nicl/hello-world.git"
 :up "docker run --rm -v {{pwd}}:/usr/src/app -w /usr/src/app clojure lein"
 :build {:cmd "docker run --rm -v {{pwd}}:/usr/src/app -w /usr/src/app clojure lein uberjar"
         :target "target/uberjar/*-standalone.jar"
         :type :jar}}
